<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <head>
    <meta charset="UTF-8" />
    <title>상담 페이지</title>
    <link rel="stylesheet" th:href="@{/css/counseling.css}" />
    <th:block layout:fragment="css"></th:block>
  </head>
  <body>
    <div layout:fragment="content" class="bg-light">
      <h1>나의 문의내역</h1>
      <h2>1:1 문의</h2>
      <div class="search-bar">
        <input type="text" placeholder="문의조회" />
        <button>검색하기</button>
        <div class="total-delete">
          <span>총 <span th:text="${#lists.size(inquiries)}">0</span>건</span>
          <button class="delete-button">선택삭제</button>
        </div>
      </div>
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>번호</th>
              <th>이름</th>
              <th>제목</th>
              <th>유형</th>
              <th>문의</th>
              <th>등록일</th>
              <th>상태</th>
            </tr>
          </thead>
          <tbody>
            <!-- 문의 내역이 있을 때 -->
            <tr th:each="inquiry, iterStat : ${inquiries}">
              <td th:text="${iterStat.index + 1}"></td>
              <td th:text="${inquiry.member?.email}"></td>
              <td th:text="${inquiry.content}"></td>
              <td th:text="${inquiry.username}"></td>
              <td th:text="${inquiry.type}"></td>
              <td th:text="${inquiry.title}"></td>
              <td th:text="${inquiry.createdDate}"></td>
              <td th:text="${inquiry.status}"></td>
            </tr>
            <!-- 문의 내역이 없을 때 -->
            <tr th:if="${#lists.isEmpty(inquiries)}">
              <td colspan="7">고객님의 상담 내역이 존재하지 않습니다.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="faq-inquiry">
        <div class="faq">
          <h3>자주하시는 질문</h3>
          <a href="#">바로가기</a>
          <p>
            고객님들께서 주로 하시는 질문에 대한 답변을 한곳에 모아두었습니다.
          </p>
        </div>
        <div class="inquiry">
          <h3>고객의 말씀</h3>
          <a href="#">문의하기</a>
          <p>불편사항과 문의사항을 남겨주시면 친절히 답변드리겠습니다.</p>
        </div>
      </div>
    </div>
    <button class="fixed-button">예매하기</button>
    <th:block layout:fragment="js">
      <script th:src="@{/js/counseling.js}"></script>
    </th:block>
  </body>
</html>
