<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이메일 문의 게시판</title>
    <link rel="stylesheet" th:href="@{/css/email.css}" />
    <th:block layout:fragment="css"></th:block>
  </head>
  <body>
    <div layout:fragment="content" class="bg-light">
      <h2>이메일 문의 게시판</h2>
      <div class="board-container">
        <div th:if="${userName == null}">
          <p>로그인 후 문의글을 작성할 수 있습니다.</p>
        </div>
        <form
          th:action="@{/center/inquiry/save}"
          id="form1"
          name="form1"
          method="post"
          enctype="multipart/form-data"
        >
          <fieldset>
            <div class="tbl_area">
              <p class="tbl_info_txt">
                체크(<em
                  ><img
                    src="http://img.cgv.co.kr/R2014/images/common/ico/ico_redstar.png"
                    alt="필수" /></em
                >)된 항목은 필수 입력 사항입니다.
              </p>
              <table
                cellspacing="0"
                cellpadding="0"
                class="tbl_notice_list tbl_left"
              >
                <colgroup>
                  <col style="width: 96px" />
                  <col />
                </colgroup>
                <tbody>
                  <!-- 이름 -->
                  <tr>
                    <th scope="row"><label for="inp_name">이름</label></th>
                    <td>
                      <input
                        type="text"
                        id="inp_name"
                        name="username"
                        class="inp01"
                        th:value="${userName}"
                        readonly
                      />
                    </td>
                  </tr>

                  <!-- 전화번호 -->
                  <tr>
                    <th scope="row">
                      <label for="inp_phone">전화번호</label>
                    </th>
                    <td>
                      <input
                        type="text"
                        id="inp_phone"
                        name="phone"
                        class="inp01"
                        th:value="${userPhone}"
                        readonly
                      />
                    </td>
                  </tr>

                  <!-- 이메일 -->
                  <tr>
                    <th scope="row"><label for="inp_email">이메일</label></th>
                    <td>
                      <input
                        type="text"
                        id="inp_email"
                        name="email"
                        class="inp01"
                        th:value="${userEmail}"
                        readonly
                      />
                    </td>
                  </tr>
                  <tr class="check_info">
                    <td colspan="4">
                      <div>
                        <strong
                          >※&nbsp;&nbsp;문의에 대한 빠른 답변을 위해&nbsp;회원
                          가입 시 입력하신 연락처를 확인해주세요.</strong
                        >
                        <a
                          href="https://www.cjone.com/cjmweb/member/passwd.do?coopco_cd=7010&amp;brnd_cd=1000"
                          id="A1"
                          class="round gray on"
                          title="수정"
                          target="_blank"
                          ><span>수정</span></a
                        >
                      </div>
                      <div class="desc_miso">
                        <p class="desc_txt1">
                          고객님의 문의에 답변하는 직원은 고객 여러분의 가족 중
                          한 사람일 수 있습니다.
                        </p>
                        <p class="desc_txt2">
                          씨네플레닛은 고객의 언어폭력(비하, 욕설, 반말, 성희롱
                          등)으로부터 고객상담직원을 보호하기 위해<br />관련
                          법에 따라 수사기관에 필요한 조치를 요구할 수 있으며,
                          형법에 의해 처벌 대상이 될 수 있습니다.
                        </p>
                      </div>
                    </td>
                  </tr>
                  <!-- 문의 유형 -->
                  <tr>
                    <th scope="row">
                      문의유형<em
                        ><img
                          src="http://img.cgv.co.kr/R2014/images/common/ico/ico_redstar.png"
                          alt="필수"
                      /></em>
                    </th>
                    <td>
                      <ul class="type_list">
                        <li>
                          <input
                            type="radio"
                            id="inp_type01"
                            name="type"
                            value="1249"
                            checked
                          />
                          <label for="inp_type01">문의</label>
                        </li>
                        <li>
                          <input
                            type="radio"
                            id="inp_type02"
                            name="type"
                            value="1250"
                          />
                          <label for="inp_type02">불만</label>
                        </li>
                        <li>
                          <input
                            type="radio"
                            id="inp_type03"
                            name="type"
                            value="1251"
                          />
                          <label for="inp_type03">건의</label>
                        </li>
                        <li>
                          <input
                            type="radio"
                            id="inp_type04"
                            name="type"
                            value="1252"
                          />
                          <label for="inp_type04">기타</label>
                        </li>
                      </ul>
                    </td>
                  </tr>

                  <!-- 제목 -->
                  <tr>
                    <th scope="row">
                      제목<em
                        ><img
                          src="http://img.cgv.co.kr/R2014/images/common/ico/ico_redstar.png"
                          alt="필수"
                      /></em>
                    </th>
                    <td>
                      <input
                        type="text"
                        name="title"
                        class="inp01"
                        placeholder="제목을 입력해주세요."
                        maxlength="100"
                      />
                    </td>
                  </tr>

                  <!-- 내용 -->
                  <tr>
                    <th scope="row">
                      내용<em
                        ><img
                          src="http://img.cgv.co.kr/R2014/images/common/ico/ico_redstar.png"
                          alt="필수"
                      /></em>
                    </th>
                    <td>
                      <textarea
                        name="content"
                        class="inp01"
                        placeholder="내용을 입력해주세요."
                        maxlength="1000"
                      ></textarea>
                    </td>
                  </tr>

                  <!-- 파일 업로드 -->
                  <tr>
                    <th scope="row">첨부파일</th>
                    <td>
                      <input type="file" name="file" class="inp01" multiple />
                      <p>
                        *첨부가능 확장자: 이미지(jpg, gif, bmp, png, jpeg)
                        ,워드문서(hwp, ppt, pptx, xls, xlsx, doc, docx, zip,
                        pdf, txt)
                      </p>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2">
                      <div class="btn_wrap">
                        <input
                          type="submit"
                          value="등록"
                          class="btn btn-primary"
                        />
                        <input
                          type="button"
                          value="취소"
                          class="btn btn-default"
                          onclick="location.href='/center/inquiry'"
                        />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </body>
</html>
