<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>
    <h1 class="text-6xl font-semibold text-gray-700 dark:text-gray-200">403</h1>
    <p class="text-gray-700 dark:text-gray-300">
      접근 권한이 없습니다. 경로를 확인해 주세요
      <a class="text-purple-600 hover:underline dark:text-purple-300" th:href="@{/movie/main}"> go back </a>
      .
    </p>
  </body>
</html>
