<!DOCTYPE html>
<html lang="en" layout:decorate="~{/admin/layouts/layout}">
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/admin/css/select.css}">
  </th:block>
  <div layout:fragment="content">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <form action="" method="post">
        <div class="card">
          <div class="card-body">
            <p class="card-title">
              문의 <button type="submit" class="btn btn-outline-primary"> 등록 </button>
            </p>

            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table
                    id="example"
                    class="display expandable-table"
                    style="width: 50%"
                  >
                    <thead>
                      <tr>
                        <th>문의 번호</th>
                        <th>문의 이메일</th>
                        
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="list : ${inquiry}">
                        <td th:text="${list.id}"></td>
                        <td th:text="${list.email}"></td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table
                    id="example"
                    class="display expandable-table"
                    style="width: 50%"
                  >
                    <thead>
                      <tr>
                        <th>문의 내용</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="list : ${inquiry}">
                        <td th:text="${list.email}"></td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table
                    id="example"
                    class="display expandable-table"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        <th>답변</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><textarea name="" id="" cols="150" rows="10"></textarea></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
  <th:block layout:fragment="js">
    <script th:src="@{/admin/js/select.js}"></script>
  </th:block>
</html>
