<!DOCTYPE html>
<html lang="en" layout:decorate="~{/admin/layouts/layout}">
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/admin/css/select.css}">
  </th:block>
  <div layout:fragment="content">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <form th:action="@{/admin/page/join}" method="post" th:object="${adminCreateDto}">
        <div class="card">
          <div class="card-body">
            <p class="card-title">
              영화 등록 <button type="submit" class="btn btn-outline-primary"> 등록 </button>
            </p>

            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table
                    id="example"
                    class="display expandable-table"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        <th>제목</th>
                        <th>감독</th>
                        <th>배우</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="text" name="title" id="" />
                          <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                        </td>
                        <td><input type="text" name="directorName" id="" />
                          <div th:if="${#fields.hasErrors('directorName')}" th:errors="*{directorName}"></div>
                          </td>
                        <td><input type="text" name="actors" id=""/>
                          <div th:if="${#fields.hasErrors('actors')}" th:errors="*{actors}"></div>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table
                    id="example"
                    class="display expandable-table"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        <th>상세 정보</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><textarea name="overview" id="" cols="150" rows="10"></textarea></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table
                    id="example"
                    class="display expandable-table"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        <th>장르</th>
                        <th>개봉일</th>
                        <th>포스터</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                            <div class="select-box">장르 선택</div>
                            <div class="checkbox-list" name="genreIds" >
                              <label th:each="genre : ${genres}" >
                                <input type="checkbox" name="genreIds" th:value="${genre.name}" th:text="${genre.name}">
                                
                                <!-- <input type="hidden" name="genreIds" th:value="${genre.id}"> -->
                              </label>
                            </div>
                            <div th:if="${#fields.hasErrors('genreIds')}" th:errors="*{genreIds}"></div>
                          </td>
                        <td><input type="date" name="releaseDate" id="" />
                          <div th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}"></div>
                          </td>
                         
                        <td><input type="file" name="" id="" /></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            
            
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
  <th:block layout:fragment="js">
    <script th:src="@{/admin/js/select.js}"></script>
  </th:block>
</html>
