<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/list.css}" type="text/css" />
    <style>
      .spad {
        padding: 0;
      }
      .sub-head {
        margin-bottom: 10px;
        margin-left: 20px;
      }
      .sub-head h3 {
        margin-right: 10px;
      }
      .form-select {
        width: 100px;
      }
      #searchForm div {
        width: 75%;
        justify-self: center;
      }
      .product__item__pic {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    </style>
    <link rel="stylesheet" th:href="@{/css/nav-tabs.css}" type="text/css" />
  </th:block>
  <div layout:fragment="content">
    <div th:replace="~{/fragments/store-tab::store-tab}"></div>
    <section class="product spad">
      <div class="container">
        <div class="row mb-5">
          <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col" th:each="product : ${productDtos}">
              <a
                th:href="@{/store/detail(category=${category}, id=${product.id})}"
              >
                <div class="card">
                  <img
                    th:src="'/img/product' + ${product.image}"
                    class="card-img-top product__item__pic set-bg"
                  />
                  <div class="card-body">
                    <h5 class="card-title" th:text="${product.name}"></h5>
                    <p class="card-text" th:text="${product.itemDetails}"></p>
                    <h4 class="text-end" th:text="${product.price} + '원'"></h4>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Product Section End -->
  </div>
  <th:block layout:fragment="js"></th:block>
</html>
