<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/basic.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/search.css}" type="text/css" />
    <style>
      .dropdown-menu-types {
        width: 90%; /* 원하는 너비 설정 */
        min-width: 0; /* min-width 제거 */
        max-width: none; /* 최대 너비 제한 제거 */
      }
    </style>
  </th:block>
  <div layout:fragment="content">
    <section class="product spad">
      <div class="container">
        <div class="row mt-4 movie-header">
          <div class="col-6">
            <div class="row">
              <!-- 장르 -->
              <div class="col-2 btn-group">
                <button
                  type="button"
                  class="btn text-white btn-outline-danger border-2 dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  장르
                </button>
                <ul class="dropdown-menu dropdown-genres">
                  <li>
                    <a
                      class="dropdown-item"
                      th:href="@{list(movieList=nowPlaying,page=1,size=${requestDto.size},type=,keyword=,genre=,sort=popularity)}"
                      >전체</a
                    >
                  </li>
                  <li th:each="dto : ${genreDtos}">
                    <a
                      class="dropdown-item"
                      th:href="@{list(movieList=popular,page=1,size=${requestDto.size},type=,keyword=,genre=${dto.id},sort=${requestDto.sort})}"
                      >[[${dto.name}]]</a
                    >
                  </li>
                </ul>
              </div>
              <h3 class="col-8 text-white header-title-text"></h3>
            </div>
          </div>
          <div class="col-6">
            <form
              class="row justify-content-end align-items-center"
              role="search"
              th:action="@{list}"
              id="searchForm"
            >
              <!-- <select
                name="type"
                id="type"
                class="col-2 form-select search-select"
              >
                <option
                  class=""
                  value="mp"
                  th:selected="${requestDto.type == 'mp'}"
                >
                  전체
                </option>
                <option
                  class=""
                  value="m"
                  th:selected="${requestDto.type == 'm'}"
                >
                  영화
                </option>
                <option
                  class=""
                  value="p"
                  th:selected="${requestDto.type == 'p'}"
                >
                  인물
                </option>
              </select> -->

              <input type="hidden" name="page" th:value="1" />
              <input type="hidden" name="size" th:value="${requestDto.size}" />
              <input
                type="hidden"
                name="genre"
                th:value="${requestDto.genre}"
              />
              <input type="hidden" name="sort" th:value="${requestDto.sort}" />
              <input type="hidden" name="movieList" th:value="popular" />
              <input
                type="hidden"
                name="type"
                th:value="${requestDto.type != '' ? requestDto.type:'mp'}"
              />

              <div class="col-2 btn-group type-group">
                <button
                  type="button"
                  class="btn text-white btn-outline-danger border-2 dropdown-toggle dropdown-btn-types"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  전체
                </button>
                <ul class="dropdown-menu dropdown-menu-types">
                  <li>
                    <a
                      class="dropdown-item dropdown-item-type text-white"
                      data-value="mp"
                    >
                      전체
                    </a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item dropdown-item-type text-white"
                      data-value="m"
                    >
                      영화
                    </a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item dropdown-item-type text-white"
                      data-value="p"
                    >
                      인물
                    </a>
                  </li>
                </ul>
              </div>
              <input
                class="col-6 form-control border-danger border-2 bg-transparent text-white search-form-control"
                type="search"
                placeholder="Search"
                aria-label="Search"
                name="keyword"
                th:value="${keyword}"
              />
              <button
                class="col-1 btn btn-outline-danger border-0 search-btn"
                type="submit"
              >
                <span class="icon_search"></span>
              </button>
            </form>
          </div>
        </div>
        <!-- 메뉴 -->
        <div th:replace="~{/fragments/movie-tab::movie-tab}"></div>
        <div class="row mb-5">
          <div class="trending__product">
            <!-- 영화 리스트 -->
            <div
              class="row trending__product-row mt-4"
              th:if="${requestDto.type != 'p' and requestDto.movieList != 'my'}"
            >
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <div class="section-title">
                    <h4>영화 [[${movies.totalElements}]] 건</h4>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="btn__all">
                    <a
                      th:href="@{list(movieList=popular,page=1,size=${requestDto.size},type='m',keyword=${requestDto.keyword},genre='',sort=${requestDto.sort})}"
                      class="primary-btn"
                      th:if="${requestDto.type == 'mp'}"
                      >View All <span class="arrow_right"></span
                    ></a>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-3 col-md-4 col-sm-6 mb-3 product"
                th:if="${requestDto.type == 'mp' and iterStat.index < 4 or requestDto.type != 'mp'}"
                th:each="dto, iterStat : ${movies != null ? movies.dtoList : null}"
              >
                <div class="product__item mb-2">
                  <a th:href="@{detail(id=${dto.id})}"
                    ><img
                      th:src="${dto.posterPath != null ? 'https://image.tmdb.org/t/p/w500/' + dto.posterPath : 'https://placehold.co/217x325?text=Movie'}"
                      alt=""
                      class="product__item__pic set-bg"
                  /></a>
                </div>
                <div class="product__item__text mx-4">
                  <h5>
                    <a th:href="@{detail(id=${dto.id})}" th:text="${dto.title}"
                      >타이틀</a
                    >
                  </h5>
                  <ul>
                    <li>평점</li>
                    [[${dto.voteAverage}]]
                  </ul>
                  <ul>
                    <li>개봉일</li>
                    [[${dto.releaseDate}]]
                  </ul>
                </div>
              </div>
              <div class="mt-4"></div>
            </div>
            <!-- MY -->
            <div
              class="row"
              th:if="${requestDto.movieList == 'my' and recommendMovies.size() == 0}"
            >
              <p class="text-white text-center fw-bold fs-3 mt-5 mb-5">
                찜목록에 영화를 추가해주세요
              </p>
            </div>
            <div
              class="row trending__product-row mt-4"
              th:if="${requestDto.movieList == 'my' and recommendMovies.size() != 0}"
            >
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <div class="section-title">
                    <h4>내 찜목록과 비슷한 영화</h4>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-3 col-md-4 col-sm-6 mb-3 product"
                th:if="${iterStat.index < 4}"
                th:each="dto, iterStat : ${recommendMovies != null ? recommendMovies : null}"
              >
                <div class="product__item mb-2">
                  <a th:href="@{detail(id=${dto.id})}"
                    ><img
                      th:src="${dto.posterPath != null ? 'https://image.tmdb.org/t/p/w500/' + dto.posterPath : 'https://placehold.co/217x325?text=Movie'}"
                      alt=""
                      class="product__item__pic set-bg"
                  /></a>
                </div>
                <div class="product__item__text mx-4">
                  <h5>
                    <a th:href="@{detail(id=${dto.id})}" th:text="${dto.title}"
                      >타이틀</a
                    >
                  </h5>
                  <ul>
                    <li>평점</li>
                    [[${dto.voteAverage}]]
                  </ul>
                  <ul>
                    <li>개봉일</li>
                    [[${dto.releaseDate}]]
                  </ul>
                </div>
              </div>
              <div class="mt-4"></div>
            </div>
            <div
              class="row trending__product-row"
              th:if="${requestDto.movieList == 'my' and recommendMoviesByDirector.size() != 0}"
            >
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <div class="section-title">
                    <h4>[[${directorDto.name}]] 감독 추천 영화</h4>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-3 col-md-4 col-sm-6 mb-3 product"
                th:if="${iterStat.index < 4}"
                th:each="dto, iterStat : ${recommendMoviesByDirector != null ? recommendMoviesByDirector : null}"
              >
                <div class="product__item mb-2">
                  <a th:href="@{detail(id=${dto.id})}"
                    ><img
                      th:src="${dto.posterPath != null ? 'https://image.tmdb.org/t/p/w500/' + dto.posterPath : 'https://placehold.co/217x325?text=Movie'}"
                      alt=""
                      class="product__item__pic set-bg"
                  /></a>
                </div>
                <div class="product__item__text mx-4">
                  <h5>
                    <a th:href="@{detail(id=${dto.id})}" th:text="${dto.title}"
                      >타이틀</a
                    >
                  </h5>
                  <ul>
                    <li>평점</li>
                    [[${dto.voteAverage}]]
                  </ul>
                  <ul>
                    <li>개봉일</li>
                    [[${dto.releaseDate}]]
                  </ul>
                </div>
              </div>
              <div class="mt-4"></div>
            </div>
            <!-- 인물 리스트 -->
            <div
              class="row trending__people-row mt-4"
              th:if="${requestDto.type != 'm' and requestDto.type != ''}"
            >
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <div class="section-title">
                    <h4>인물 [[${people.totalElements}]] 건</h4>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="btn__all">
                    <a
                      th:href="@{list(movieList=popular,page=1,size=${requestDto.size},type='p',keyword=${requestDto.keyword},genre='',sort=${requestDto.sort})}"
                      class="primary-btn"
                      th:if="${requestDto.type == 'mp'}"
                      >View All <span class="arrow_right"></span
                    ></a>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-3 col-md-4 col-sm-6 mb-3 product"
                th:if="${requestDto.type == 'mp' and iterStat.index < 4 or requestDto.type != 'mp'}"
                th:each="dto, iterStat : ${people != null ? people.dtoList : null}"
              >
                <div class="product__item mb-2">
                  <a th:href="@{person/detail(id=${dto.id})}"
                    ><img
                      th:src="${dto.profilePath != null ? 'https://image.tmdb.org/t/p/w500/' + dto.profilePath : dto.job == 'Acting' ? 'https://placehold.co/217x325?text=Actor' : 'https://placehold.co/217x325?text=Director'}"
                      alt=""
                      class="product__item__pic set-bg"
                  /></a>
                </div>
                <div class="product__item__text mx-4">
                  <h5>
                    <a
                      th:href="@{person/detail(id=${dto.id})}"
                      th:text="${dto.name}"
                    ></a>
                  </h5>
                  <ul>
                    [[${dto.job}]]
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- 페이지 -->
          <nav
            aria-label="..."
            th:if="${requestDto.type != 'mp' and requestDto.movieList != 'my'}"
          >
            <ul class="pagination justify-content-center">
              <!-- Previous button -->
              <li
                th:class="'page-item ' + ${(movies != null and movies.prev) or (people != null and people.prev) ? '' : 'disabled'}"
              >
                <a
                  class="page-link"
                  th:href="@{
                      list(
                        movieList=${requestDto.movieList},
                        page=${(movies != null and movies.prev) ? movies.start-1 : (people != null and people.prev) ? people.start-1 : 0},
                        size=${(movies != null) ? movies.size : people.size},
                        type=${requestDto.type},
                        keyword=${requestDto.keyword},
                        genre=${requestDto.genre},
                        sort=${requestDto.sort}
                      )
                   }"
                  >Previous</a
                >
              </li>

              <!-- Page list -->
              <li
                th:class="page-item"
                aria-current="page"
                th:each="page : ${movies != null ? movies.pageList : people.pageList}"
              >
                <a
                  th:class="'page-link ' + ${movies != null ? (movies.page == page ? 'active' : '') : (people.page == page ? 'active' : '')}"
                  th:href="@{
                      list(
                        movieList=${requestDto.movieList},
                        page=${page},
                        size=${(movies != null) ? movies.size : people.size},
                        type=${requestDto.type},
                        keyword=${requestDto.keyword},
                        genre=${requestDto.genre},
                        sort=${requestDto.sort}
                      )
                   }"
                  th:text="${page}"
                ></a>
              </li>

              <!-- Next button -->
              <li
                th:class="'page-item ' + ${(movies != null and movies.next) or (people != null and people.next) ? '' : 'disabled'}"
              >
                <a
                  class="page-link"
                  th:href="@{
                      list(
                        movieList=${requestDto.movieList},
                        page=${(movies != null and movies.next) ? movies.end+1 : (people != null and people.next) ? people.end+1 : 0},
                        size=${(movies != null) ? movies.size : people.size},
                        type=${requestDto.type},
                        keyword=${requestDto.keyword},
                        genre=${requestDto.genre},
                        sort=${requestDto.sort}
                      )
                   }"
                  >Next</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
    <!-- Product Section End -->
    <form action="" method="get">
      <input type="hidden" name="page" th:value="${requestDto.page}" />
      <input type="hidden" name="size" th:value="${requestDto.size}" />
      <input type="hidden" name="type" th:value="${requestDto.type}" />
      <input type="hidden" name="keyword" th:value="${requestDto.keyword}" />
      <input type="hidden" name="sort" th:value="${requestDto.sort}" />
      <input type="hidden" name="genre" th:value="${requestDto.genre}" />
      <input
        type="hidden"
        name="movieList"
        th:value="${requestDto.movieList}"
      />
    </form>
  </div>
  <th:block layout:fragment="js">
    <script th:inline="javascript">
      let genres = /*[[${genreDtos}]]*/ [];
    </script>
    <script>
      if ("[[${requestDto.keyword}]]" != "") {
        // 검색값이 있을 경우
        document.querySelector(".header-title-text").innerHTML =
          "검색: [[${requestDto.keyword}]]";
      } else if ("[[${requestDto.genre}]]" != "") {
        // 장르값이 있을 경우
        genres.forEach((genre) => {
          if (genre.id === parseInt("[[${requestDto.genre}]]")) {
            document.querySelector(".header-title-text").innerHTML = genre.name;
          }
        });
      } else {
        // movieList 값에 따라
        switch ("[[${requestDto.movieList}]]") {
          case "nowPlaying":
            document.querySelector(".header-title-text").innerHTML =
              "현재 상영중";
            break;
          case "upcoming":
            document.querySelector(".header-title-text").innerHTML =
              "상영 예정작";
            break;
          case "popular":
            document.querySelector(".header-title-text").innerHTML =
              "전체 영화 목록";
            break;
          case "my":
            document.querySelector(".header-title-text").innerHTML = "추천";
            break;
          default:
            break;
        }
      }
    </script>
    <script>
      const dropdown = document.querySelector(".type-group");
      const dropdownBtn = dropdown.querySelector(".dropdown-btn-types");
      const dropdownList = dropdown.querySelector(".dropdown-menu-types");
      const items = dropdown.querySelectorAll(".dropdown-item-type");
      const hiddenInput = document.querySelector("[name='type']");

      // 옵션 선택 시 버튼 텍스트 변경
      items.forEach((item) => {
        item.addEventListener("click", function (e) {
          e.preventDefault();
          dropdownBtn.textContent = item.textContent;
          hiddenInput.value = item.getAttribute("data-value");
        });
      });

      switch ("[[${requestDto.type}]]") {
        case "mp":
          dropdownBtn.textContent = "전체";
          break;
        case "m":
          dropdownBtn.textContent = "영화";
          break;
        case "p":
          dropdownBtn.textContent = "인물";
          break;
        default:
          break;
      }
    </script>
  </th:block>
</html>
