<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/basic.css}" type="text/css" />
  </th:block>
  <div layout:fragment="content">
    <div th:replace="~{/fragments/banner::banner}"></div>
    <!-- Product Section Begin -->
    <section class="product spad">
      <div class="container">
        <div class="row mt-4">
          <div class="col-lg-12">
            <div class="trending__product">
              <div class="row trending__product-row">
                <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="section-title">
                      <h4>인기 상영작</h4>
                    </div>
                  </div>
                </div>
                <div
                  class="col-lg-3 col-md-4 col-sm-6 mb-3 product"
                  th:if="${iterStat.index < 8}"
                  th:each="dto, iterStat : ${movies != null ? movies.dtoList : null}"
                >
                  <div class="product__item mb-2">
                    <a th:href="@{detail(id=${dto.id})}"
                      ><img
                        th:src="'https://image.tmdb.org/t/p/w500/' + ${dto.posterPath}"
                        alt=""
                        class="product__item__pic set-bg"
                    /></a>
                  </div>
                  <div class="product__item__text mx-4">
                    <h5>
                      <a
                        th:href="@{detail(id=${dto.id})}"
                        th:text="${dto.title}"
                        >타이틀</a
                      >
                    </h5>
                    <ul>
                      <li>평점</li>
                      [[${dto.voteAverage}]]
                    </ul>
                    <ul>
                      <li>개봉일</li>
                      [[${dto.releaseDate}]]
                    </ul>
                  </div>
                </div>
                <div class="mt-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Product Section End -->
  </div>
  <th:block layout:fragment="js">
    <script th:src="@{/js/main.js}"></script>
  </th:block>
</html>
